body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: helvetica neue,helvetica,sans-serif;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #000;
}

header h1 {
	text-align: center;
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 20px;
}


nav {
	text-align: center;
	font-size: 2rem;
	padding: 30px;
	/* margin: 30px 0; */
	border-bottom: 1px solid rgba(0,0,0,0.25)
}

nav a{
	padding: 0 15px;
}

.main-img img {
	display: block;
	margin: auto;
	width: 50%;
	border-radius: 50%;
}

div#music-player {
	text-align: center;
	padding: 30px 0;
}

div#music-player p a{
	color: #6495ED;

}

footer {
	font-size: 1rem;
	text-align: center;
	padding: 20px;
}

@media (max-width:600px) {
	nav {
		font-size: 1.75rem;
		padding: 10px 20px 10px 20px;
		max-width: 80%;
		margin: auto;
	}

	.main-img img {
		width: 100%;
	}

	footer {
		font-size: 0.75rem;
	}
}
